<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='Stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>This is for practice</title>
</head>
<body>
<section class="hero is-info">
<div class="hero-body" >
    <div class="columns is-centered">
        <div class="column is-narrow"><h1 class="text is-size-1"><b>FakeNews:</b></h1></div>
            <div class="column is-narrow"><a class="button is-warning is-outlined is-size-4" href="/" >Random article</a></div>
            <div class="column is-narrow"><a class="button is-success is-outlined is-size-4" href="/guesser" >Guess the news</a></div>
        </div>
    </div>
</div>
</section>
    {% block content %}
    {% endblock %}
</body>
</html>
